input[type=number].no-spinner::-webkit-outer-spin-button,
input[type=number].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].no-spinner {
    -moz-appearance: textfield;
}


.app-container {
    height: auto !important;
    min-height: 0;
    background-color: #ffffff;
    font-family: Cambria, serif;
    padding: 15px;
}

.app-container,
.app-container .row.h-100,
.app-container .left-col.h-100,
.app-container .right-col.h-100 {
    height: auto !important;
    min-height: 0 !important;
}

.left-col,
.right-col,
.settings-card,
.log-card {
    min-height: 0 !important;
}

.app-container .row {
    align-items: stretch !important;
}

.left-col, .right-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings-card {
    border: none;
    background-color: #eaeef4;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settings-card hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0 10px 0;
}

.settings-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 5px 0;
}

.settings-card .form-label {
    margin-bottom: 4px;
}


.tooltip-inner {
    white-space: pre-line !important;
    word-break: normal !important;
    max-width: none !important;
    text-align: left !important;
}


.icon-btn {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    background-color: #455279;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    margin-bottom: 4px;
}


.icon-btn:hover {
    background-color: #6f83bd;
}

.icon-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
}


.result-card {
    border: none;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.result-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px 0;
}

#result-tabs-row1,
#result-tabs-row2 {
    border: none !important;
}

#result-tabs-row1 .tab-list,
#result-tabs-row2 .tab-list {
    display: flex !important;
    flex-wrap: wrap !important;
}

#result-tabs-row1 .tab,
#result-tabs-row2 .tab {
    white-space: nowrap !important;
    background-color: #eaeef4;
    color: #000000;
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 0.9rem;
    border: none;
    border-radius: 8px !important;
    margin-bottom: 0.5rem !important;
    flex: 0 0 auto !important;
    width: auto !important;
}


#result-tabs-row1 .tab:hover,
#result-tabs-row2 .tab:hover {
    color: #000000;
    background-color: #cbdbff;
    border: none;
}

#result-tabs-row1 .tab--selected,
#result-tabs-row2 .tab--selected {
    background-color: #125aff !important;
    color: #fff !important;
    border: none;
}

.result-card .user-select-none.svg-container {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
}


.log-card {
    border: none;
    background-color: #eaeef4;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}


.log-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px 0;
}

#training-log {
    max-height: 100%;
    flex: 1;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    width: 100%;
    border-radius: 8px;
    font-size: 0.9rem;
    line-height: 1.4;
    resize: none;
    margin-bottom: 10px !important;
}


.right-col > div:nth-child(1) {
    flex: 0 0 auto !important;
}

.right-col > div:nth-child(2) {
    flex: 1 1 auto !important;
}


.form-control {
    font-size: 0.8rem !important;
}

.mb-3 {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.btn-start-training {
    background-color: #9d9ea0;
    width: 100%;
    color: #ffffff !important;
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
    margin: 14px 0 5px 0;
    transition: box-shadow 0.3s ease;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-start-training:hover {
    background-color: #125aff !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 0 8px 2px rgba(18, 90, 255, 0.7) !important;
}


